<div class="row no-pad customMessagesSection" ng-controller="setCustomMessages as cm">
	<div class="col-xs-12 col-md-offset-4 col-md-4 jumbotron text-center {{ cm.current_state }}">

        <!-- 1. Default UXDPV -->
		<div class="card-default fade">
            <h4>Make your selection below and create your own practice vertical chart</h4>
        </div>

       <!-- 2. Save Options with Name and Email Input -->
        <div class="card-save fade"> 
            <h4>Looks good? Do you want to save this chart?</h4>
            <form>
                <div class="form-group">
                    <input type="name" ng-model="cm.name" class="form-control text-center" placeholder="Name"></input>
                    <input type="email" ng-model="cm.newEmail" class="form-control text-center" placeholder="Email address"></input>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control" ng-click="cm.createUserLink()" value="Save UXDPV chart">
                        Save UXDPV chart
                    </button>
                </div>
            </form>
        </div>

        <!-- 3. Confirmation -->
        <div class="card-confirmation fade">
            <div class="success">
                <h4>Awesome! Your chart is live!</h4>
                <div><strong>Check your password in your email.</strong></div>
                <div>You can use the password to modify your chart in the future</div>&nbsp;
                <a href ng-click="cm.goToState('s4')">View and share your UXDPV chart</a>
            </div>
            <div class="error">
                <h4>Uh oh! Something is wrong!</h4>
                <div class="msg"></div>&nbsp;
                <a href ng-click="cm.goToState('s2')">Please retry</a>
        </div>

        <!-- 4. User UXDPV -->
        <div class="card-user fade">
            <h4>Ruby's Practice Vertical <mark>link/url</mark></h4>
            <div>Share on Twitter, Facebook or LinkedIn</div>
        </div>

        <!-- 5. User Auth with Email & Password Input -->
        <div class="card-authenticate fade">
            <h4>Let's just make sure we are working with your chart.</h4>
            <form>
                <div class="form-group">
                    <input type="email" ng-model="cm.userEmail" class="form-control text-center" placeholder="Email"></input>
                    <input type="password" ng-model="cm.password" class="form-control text-center" placeholder="Password"></input>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control" ng-click="cm.generateLink()">
                        Sign In
                    </button>
                </div>
            </form>
        </div>

        <!-- 6. Modify UXDPV -->
        <div class="card-modify fade">
            <h4>Alright, let's make some edits!</h4>
        </div>

	</div>

    <!-- Arrow Down -->
    <div class="col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>
</div>