<!DOCTYPE html>
<html lang="en">
<head>
	<!-- FRAMEWORK JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="./frameworks/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

	<!-- FRAMEWORK JS -->
	<script src="./assets/js/app.js"></script>
	
	<!-- FRAMEWORK CSS -->
	<link rel="stylesheet" href="frameworks/bootstrap-3.3.2-dist/css/bootstrap.min.css"></link>

	<!-- HOMEBREW CSS -->
	<link rel="stylesheet" href="assets/css/default.css"></link>
</head>
<body ng-app="uxdpv">
	<div class="container-fluid">
		<div class="row no-pad practiceVerticalTable" ng-controller="getPracticeVertical as pvCtrl">
			<div class="col-xs-6">
				<div class="row no-pad">
					<div class="col-sm-3">
						<!-- <business-context-analysis></business-context-analysis> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Business Context Analysis']"><span>{{ areaOfInterest }}</span></li>
						</ul>
					</div>
					<div class="col-sm-3">
						<!-- <usability-engineering></usability-engineering> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Usability Engineering']">{{ areaOfInterest }}</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<!-- <user-experience-planning></user-experience-planning> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['User Experience Planning']">{{ areaOfInterest }}</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<!-- <content-publishing></content-publishing> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Content Publishing']">{{ areaOfInterest }}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row no-pad">
					<div class="col-sm-3">
						<!-- <information-architecture></information-architecture> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Information Architecture']">{{ areaOfInterest }}</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<!-- <interaction-design></interaction-design> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Interaction Design']">{{ areaOfInterest }}</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<!-- <visual-information-design></visual-information-design> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Visual & Information Design']">{{ areaOfInterest }}</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<!-- <computer-science></computer-science> -->
						<ul>
							<li ng-repeat="areaOfInterest in pvCtrl.pv['Computer Science']">{{ areaOfInterest }}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>