<!DOCTYPE html>
<html lang="en">
<head>
	<!-- FRAMEWORK JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="./frameworks/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

	<!-- FRAMEWORK JS -->
	<script src="./assets/js/app.js"></script>

	<!-- FRAMEWORK CSS -->
	<link rel="stylesheet" href="frameworks/bootstrap-3.3.2-dist/css/bootstrap.min.css"></link>

	<!-- HOMEBREW CSS -->
	<link rel="stylesheet" href="assets/css/default.css"></link>
</head>
<body ng-app="uxdpv">
	<div class="container-fluid">
		<div class="row no-pad practiceVerticalTable" ng-controller="getPracticeVertical as pvCtrl">
			<div class="col-sm-6">
				<div class="row no-pad">
					<div class="col-lg-3" ng-repeat="practiceVertical in pvCtrl.firstHalf">
						<!-- <business-context-analysis></business-context-analysis> -->
						<table class='table table-striped table-hover'>
							<thead>
								<tr><th>{{ practiceVertical['Name'] }}</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="areaOfInterest in practiceVertical['Area of Interest']">
									<td><span>{{ areaOfInterest }}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row no-pad">
					<div class="col-lg-3" ng-repeat="practiceVertical in pvCtrl.secondHalf">
						<!-- <business-context-analysis></business-context-analysis> -->
						<table class='table table-striped table-hover'>
							<thead>
								<tr><th>{{ practiceVertical['Name'] }}</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="areaOfInterest in practiceVertical['Area of Interest']">
									<td><span>{{ areaOfInterest }}</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div> <!-- END PRACTICE VERTICAL REPEAT -->
	</div>
</body>

</html>