<div class="row no-pad {{ current_state }}">
    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center msgContainer">

        <!-- 1. Default UXDPV -->
        <div class="card-default fade {{ current_status }}">
            <div class="default">
                <h1>Select your area of interest and share your results!</h1>
                <p>This site contains a list of UX activities categorized into eight practice verticals.</p>
                <a href>Learn more about practice verticals</a>
            </div>
            <div class="error">
                <h1>Hm... we couldn't find your UXDPV</h1>
                <div><mark>{{ msgBox.link }}</mark></div>
                <div>However, you can create a new one by making selections below.</small></div>                
            </div>
        </div>

       <!-- 2. Save Options with Name and Email Input -->
        <div class="card-save fade {{ current_status }}">        
            <div class="default">
                <h1>Looking good? Do you want to save this chart?</h1>
                <form>
                    <div class="form-group">
                        <input type="name" ng-model="newName" class="form-control text-center" placeholder="Name"></input>
                        <input type="email" ng-model="newEmail" class="form-control text-center" placeholder="Email address"></input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control" ng-click="createUserLink()" value="Save UXDPV chart">
                            Save UXDPV chart
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 3. Confirmation -->
        <div class="card-confirmation fade {{ current_status }}"> 
            <div class="default">
                <h1>Hey {{ msgBox.user }}, your chart is live!</h1>
                <div>You can edit the chart with this password <strong>{{ msgBox.password }}</strong></div>
                <div><a href ng-click="goToState('s4', 'is_default')">View and share your UXDPV chart</a></div>
            </div>
            <div class="error">
                <h1>Uh oh! Something is wrong!</h1>
                <div class="msg"></div>&nbsp;
                <a href ng-click="goToState('s2', 'is_default')">Please retry</a>
            </div>
        </div>

        <!-- 4. User UXDPV -->
        <div class="card-user fade {{ current_status }}">
                <div class="default">
                <h1>{{ msgBox.user }}'s Practice Vertical</h1>
                <div><mark>{{ msgBox.link }}</mark></div>
                <div>Share on Twitter, Facebook or LinkedIn</div>
                <div><small><a href ng-click="goToState('s5', 'is_default')">Edit this chart</a></small></div>
            </div>
        </div>

        <!-- 5. User Auth with Email & Password Input -->
        <div class="card-authenticate fade {{ current_status }}"> 
            <div class="default form">
                <h1>Let's make sure this is your chart</h1>
                <form>
                    <div class="form-group">
                        <label>Enter your password</label>
<!--                        <input type="email" ng-model="userEmail" class="form-control text-center" placeholder="Email"></input> -->
                        <input type="password" ng-model="userPassword" class="form-control text-center" placeholder="Password"></input>                     
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control" ng-click="authenticateUser()">
                            Sign In
                        </button>
                    </div>
                </form>
                <small>
                    <a href ng-click="goToState('s4', 'is_default')">Go back</a>
                    | 
                    <a href ng-click="goToState('s6', 'is_default')">Reset your password</a>
                </small>
            </div>
            <div class="error">
                <h1>Sorry, the credentials do not match</h1>
                <div class="msg"></div>&nbsp;
                <small><a href ng-click="goToState('s4')">Go back to the chart</a></small> 
            </div>
        </div>

        <!-- 6. Reset Password -->
        <div class="card-reset fade {{ current_status }}">  
            <div class="default form">
                <h1>Can’t remember your password?</h1>
                <div>Would you like us to send you the password reset link?</div>
                 <form>
                    <div class="form-group">
                        <button type="submit" class="form-control" ng-click="resetUserPassword()">Reset password via email</button>
                    </div>
                </form>
                <small><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></small>                
            </div>
            <div class="success">
                <h1>Check your email</h1>
                <div>Password reset email sent successfully!</div>
                <small><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></small> 
            </div>
            <div class="error">
                <h1>Error with password reset email</h1>
                <div>Please retry again!</div>
                <small><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></small> 
            </div>          
        </div>

        <!-- 7. Modify UXDPV -->
        <div class="card-modify fade {{ current_status }}"> 
            <div class="default">
                <h1>Alright {{ msgBox.user }}, let's make some edits!</h1>
                <div>When you are ready, save your chart</div>
                <button type="submit" class="form-control" ng-click="saveChanges()">Save my chart</button>
                <small><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></small>                
            </div>
        </div>

        <!-- 8. Confirmation -->
        <div class="card-updated fade {{ current_status }}">   
            <div class="default">
                <h1>Great, your chart is updated!</h1>
                <div>Keep it up! UX rockstar!</div>
                <small><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></small> 
            </div>
            <div class="error">
                <h1>Uh oh, we were unable to save your chart</h1>
                <div>Please retry again or contact us</div>
                <small><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></small> 
            </div>
        </div>
    </div>
</div>