<div class="row no-pad practiceVerticalTable" ng-controller="getPracticeVertical as pvCtrl">
	<div class="col-md-6">
		<div class="row no-pad">
			<div class="col-lg-3" ng-repeat="practiceVertical in pvCtrl.firstHalf">
				<table class="table table-hover {{ practiceVertical['ClassName'] }}">
					<thead>
						<tr><th>{{ practiceVertical['Name'] }}</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="areaOfInterest in practiceVertical['Area of Interest']" 
							class="{{areaOfInterest['ClassName']}}"
							ng-class="{ isSelected: areaOfInterest['isSelected'], isNotSelected: !areaOfInterest['isSelected']}"
							ng-click="toggleSelected($event, areaOfInterest)">
							<td>
								<p>{{ areaOfInterest['Name'] }}</p>
								<span class="ripple"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row no-pad">
			<div class="col-lg-3" ng-repeat="practiceVertical in pvCtrl.secondHalf">
				<table class="table table-hover {{ practiceVertical['ClassName'] }}">
					<thead>
						<tr><th>{{ practiceVertical['Name'] }}</th></tr>
					</thead>
					<tbody>
						<tr ng-repeat="areaOfInterest in practiceVertical['Area of Interest']">
							<td><span>{{ areaOfInterest }}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>