/* OVERRIDING BOOTSTRAP STYLES */
.container-fluid{
	padding: 0;
	margin: 0;
}

.row.no-pad {
	margin-right:0;
	margin-left:0;
}
.row.no-pad > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

/* PRACTICE VERTICAL TABLE STYLES */
.practiceVerticalTable{

	.row{

		.col-lg-3{

			table{

				font-size: 1.5em;
				
				td, th{
					padding: 0 .5em;
					text-align: center;
				}

				thead{
					height: 100px;
					width: 100%;
					display: table;
					
					th{
						height: 100%;
						display: table-cell;
						vertical-align: middle;
					}
				}

				tbody{

					height: 768px;
					width: 100%;
					display: table;

					td{
						height: 14%;
						display: table-cell;
						vertical-align: middle;
					}
				}
			}

			ul{
				list-style: none;
				margin: 0;
				padding: 0;

				li{
					height: 8em;
					text-align: center;
					vertical-align: middle;

					span{
						display: inline-block;
						height: inherit;
					}
				}
			}
		}
	}
}