<div class="row no-pad">
    <!-- Scroll Arrow -->
    <div class="scroll-arrow col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>				

	<div class="col-xs-12 text-center">
		<h1>What is UXDPV.io?</h1>
		<h4>The goal of the site is to share the UX Design Practice Verticals with fellow UX practioners</h4>
	</div>    

	<div class="col-xs-12 col-md-10 col-md-offset-1 content">
		<div class="col-xs-12 col-md-8">
			<h3>My story</h3>
			<p>As a UX practitioner, I have wore different hats for many projects. Sometimes I work directly with stakeholders in high-level meetings. And sometimes I am heads down behind my computer fixing away front-end bugs. One of my friend is a content strategist and clients often confuse her role to an editor. <strong>In a world full of clients looking for UX unicorns, it’s challenging to find right UX work.</strong></p>
			<p>I came across the UX Design Practice Verticals article when I was trying to define my UX career. I think this is one of the most clear and helpful description about activities and roles in UX design.</p>
			<p>I started sharing the article with my colleagues. Then I wanted to create my own so I can show it online. After more than 2 years of first reading the article, here's uxdpv.io for everyone.</p>
		</div>	
		<div class="col-xs-12 col-md-4">
			<h3>Resources</h3>
<!-- 			<p>
				<strong>
				My blog post about how I made this site<br />
				</strong>
				<a href="#">Personal Web Project - UXDPV.io</a>
			</p> -->
			<p>
				<strong>
				Github repository for this site<br />
				</strong>
				<a href="https://github.com/silveruby/uxd-practice-vertical">Github uxd-practice-vertical</a>
			</p>
			<p>
				<strong>
				Need help or have a question?<br />
				</strong>
				<a href="mailto:zhengsan@gmail.com?Subject=Hello">Email me</a>
			</p>		
		</div>
	</div>
		
</div>	