<div id="contact" class="row no-pad">
    <!-- Scroll Arrow -->
    <div class="scroll-arrow col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>				
	<div class="col-xs-12 col-md-offset-4 col-md-4 text-center">
	  <h2>Contact</h1>
	  <h4>
	  	This project is inspired by an article I read in 2015. <br /> It is called <a href="http://www.uxmatters.com/mt/archives/2014/08/ux-design-practice-verticals.php">UX Design Practice Vertical</a>. 
	  </h4>
	</div>
</div>