<div class="row no-pad">
    <!-- Scroll Arrow -->
    <div class="scroll-arrow col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>				

	<div class="col-xs-12 text-center">
		<h1>UX Design Practice Verticals</h1>
		<h4>A snapshot of the activities that are necessary to architect and design human-computer interactions</h4>
	</div>

	<div class="col-xs-12 col-md-10 col-md-offset-1 content">
		<div class="col-xs-12 col-md-4">
			<h3>What Is It?</h3>
			<p>Based on an article written by Nathianel Daniels, the <a href="http://www.uxmatters.com/mt/archives/2014/08/ux-design-practice-verticals.php">UX Design Practice Verticals</a> breaks down UX practices into 8 categories. Each of these categories is a practice vertical and each of them has six area of interests, with each one building on top of the previous.</p>
			<p>In the chart, you can click on your area of interests and create your own practice verticals.</p>
		</div>	
		<div class="col-xs-12 col-md-8">
			<h3>Definition</h3>
			<p class="pv_bca"><strong>Business Context Analysis</strong> A practice whose goal is understanding the primary domain of activities and is informed by the constraints, influencers, and the scope of the intended human-computer interaction</p>
			<p class="pv_ue"><strong>Usability Engineering</strong> A field of research that studies how human behavior and situational context impact the design of effective human-computer interactions</p>
			<p class="pv_uep"><strong>User Experience Planning</strong> A practice that creates a strategy and plan to enable meaningful human-computer interactions and optimal engagement across digital-media channels</p>
			<p class="pv_cp"><strong>Content Publishing</strong> A practice that organizes and relates information in a way that simplifies the way people navigate and use content in Web environments</p>
			<p class="pv_ia"><strong>Information Architecture</strong> A practice whose goal is understanding the primary domain of activities and is informed by the constraints, influencers, and the scope of the intended human-computer interaction</p>
			<p class="pv_id"><strong>Interaction Design</strong> A practice that develops the sensory-afforded structures and behaviors of an interactive object</p>
			<p class="pv_vd"><strong>Visual Design</strong> A practice whose goal is to achieve functional, pleasurable, and meaningful visual aesthetics in support of interactive objects’ effective communication</p>
			<p class="pv_cs"><strong>Computer Science</strong> A scientific and practical approach to computation and its applications</p>									
		</div>	
	</div>
</div>	