<div class="row no-pad">
    <!-- Scroll Arrow -->
    <div class="scroll-arrow col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>				

	<div class="col-xs-12 text-center">
		<h1>UX Design Practice Verticals</h1>
		<h4>A snapshot of the activities that are necessary to architect and design human-computer interactions</h4>
	</div>

	<div class="col-xs-12 col-md-10 col-md-offset-1 content">
		<div class="col-xs-12 col-md-4">
			<h3>My story</h3>
			<p><small>As a UX practitioner, I have wore different hats for many projects. Sometimes I work directly with stakeholders in high-level meetings. And sometimes I am heads down behind my computer fixing away front-end bugs. One of my friend is a content strategist and clients often confuse her role to an editor. I think the story I am sharing with you is the story of many UX partitioners. <strong>In a world full of clients looking for UX unicorns, it’s challenging to find right UX work.</strong></small></p>
		</div>	
		<div class="col-xs-12 col-md-4">
			<h3>Goal of the Site</h3>
			<p><small><strong>The goal of the site is to share the practice verticals with everyone who wants to define their UX path. </strong> In my journey to define my UX path, I came across an article called UX Design Practice Verticals. It breaks down UX practices into 8 main practice verticals. Each practice verticals has six area of interests, with each one building on top of the previous. I think it’s one of the most clear and structured description about UX design, taking into consideration of all the activities and roles involved in the process.</small></p>
		</div>	
		<div class="col-xs-12 col-md-4">
			<h3>Resources</h3>
			<p><small>
				<strong>
					The article that inspired this site<br />
				</strong>
				<a href="http://www.uxmatters.com/mt/archives/2014/08/ux-design-practice-verticals.php">UX Design Practice Verticals</a>
			</small></p>
			<p><small>
				<strong>
				My blog post about how I made this site<br />
				</strong>
				<a href="#">Personal Web Project - UXDPV.io</a>
			</small></p>
			<p><small>
				<strong>
				The github repository for codes of this site<br />
				</strong>
				<a href="https://github.com/silveruby/uxd-practice-vertical">Github uxd-practice-vertical</a>
			</small></p>
			<p><small>
				<strong>
				Need help or have a question with your chat?<br />
				</strong>
				<a href="mailto:zhengsan@gmail.com?Subject=Hello">Email me</a>
			</small></p>			
		</div>
	</div>
		
</div>	