<div class="row no-pad {{ current_state }}">
    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center msgContainer">

        <!-- 1. Default UXDPV -->
        <div class="card-default fade {{ current_status }}" 
            ng-class="{ 'fadein' : current_state == 's1' }">
            <div class="default">
                <h1>Are you a UX practitioner?</h1>
                <p>Create a Practice Verticals chart and share it with the world!</p>
                <p><strong>Select your area of interests on the chart below</strong></p>
                <a href="#learn-more">Learn about UX Design Practice Verticals</a>
            </div>
            <div class="error">
                <h1>Hm... we couldn't find your UXDPV</h1>
                <p><mark>{{ msgBox.link }}</mark></p>
                <p>However, you can create a new one by making selections below.</p>
            </div>
        </div>

       <!-- 2. Save Options with Name and Email Input -->
        <div class="card-save fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's2' }">               
            <div class="default">
                <h1>Looking good!</h1>
                <p>Do you want to save this chart?</p>
                <form>
                    <div class="form-group">
                        <input type="name" ng-model="newName" class="form-control text-center" placeholder="Name"></input>
                        <input type="email" ng-model="newEmail" class="form-control text-center" placeholder="Email Address"></input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control" ng-click="createUserLink()" value="Save UXDPV Chart">
                            Save UXDPV Chart
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- 3. Confirmation -->
        <div class="card-confirmation fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's3' }">            
            <div class="default">
                <h1>Hey {{ msgBox.user }}, your Practice Verticals is live!</h1>
                <p>Your default password is <strong>{{ msgBox.password }}</strong></p>
                <p>You can <a href ng-click="goToState('s4', 'is_default')">view and share your Practice Verticals</a>
                </p>              
                Or, <a href ng-click="goToState('s6', 'is_default')">reset to your password</a> 
            </div>
            <div class="error">
                <h1>Uh oh! Something is wrong!</h1>
                <p class="msg"></p>&nbsp;
                <a href ng-click="goToState('s2', 'is_default')">Please retry</a>
            </div>
        </div>

        <!-- 4. User UXDPV -->
        <div class="card-user fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's4' }">   
            <div class="default">
                <h1>{{ msgBox.user }}'s Practice Verticals</h1>
                <p><mark>{{ msgBox.link }}</mark></p>
                <p>Share this on</p>            
                <ul class="share-buttons">
                    <li><a class="share" 
                        ng-click="popShareUrl($event)"
                        href="http://twitter.com/share?url={{ msgBox.link }}"
                        title="Facebook Share"
                        target="_blank"><img src="/assets/images/social_flat_rounded_rects_svg/Twitter.svg">
                    </a></li>
                    <li><a class="share" 
                        ng-click="popShareUrl($event)"                    
                        href="https://www.facebook.com/sharer/sharer.php?u={{ msgBox.link }}"
                        title="Facebook Share"
                        target="_blank"><img src="/assets/images/social_flat_rounded_rects_svg/Facebook.svg">
                    </a></li>
                    <li><a class="share" 
                        ng-click="popShareUrl($event)"   
                        href="https://www.linkedin.com/shareArticle?mini=true&url={{ msgBox.link }}&title=My%20UXDPV&source=http%3A//www.uxdpv.io"
                        title="LinkedIn Share"
                        target="_blank"><img src="/assets/images/social_flat_rounded_rects_svg/LinkedIn.svg">
                    </a></li>
                    <!--                     
                    <li><a href="mailto:?subject=UXDPV.io&body=Create%20a%20Practice%20Verticals%20chart%20and%20share%20it%20with%20the%20world!:%20http%3A%2F%2Fuxdpv.io" 
                        target="_blank" 
                        title="Email"><img src="/assets/images/social_flat_rounded_rects_svg/Email.svg">
                    </a></li>
                     -->
                </ul>
                <a href="http://www.uxdpv.io">Create your own Practice Verticals</a>
                    | 
                <a href ng-click="goToState('s5', 'is_default')">Edit this chart</a>
            </div>
        </div>

        <!-- 5. User Auth with Email & Password Input -->
        <div class="card-authenticate fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's5' }">   
            <div class="default form">
                <h1>Let's make sure this is your chart</h1>
                <form>
                    <div class="form-group">
                        <label>Enter your password</label>
<!--                        <input type="email" ng-model="userEmail" class="form-control text-center" placeholder="Email"></input> -->
                        <input type="password" ng-model="userPassword" class="form-control text-center" placeholder="Password"></input>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control" ng-click="authenticateUser()">
                            Sign In
                        </button>
                    </div>
                </form>
                <p><small>
                    <a href ng-click="goToState('s4', 'is_default')">Go back</a>
                    | 
                    <a href ng-click="goToState('s6', 'is_default')">Reset your password</a>
                </small></p>
            </div>
            <div class="error">
                <h1>Sorry, the credentials do not match</h1>
                <p class="msg"></p>&nbsp;
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>  
            </div>
        </div>

        <!-- 6. Reset Password -->
        <div class="card-reset fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's6' }">     
            <div class="default form">
                <h1>Can’t remember your password?</h1>
                <p>Would you like us to send you the password reset link?</p>
                 <form>
                    <div class="form-group">
                        <button type="submit" class="form-control" ng-click="resetUserPassword()">Reset Password via Email</button>
                    </div>
                </form>
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>             
            </div>
            <div class="success">
                <h1>Check your email</h1>
                <p>Password reset email sent successfully!</p>
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>  
            </div>
            <div class="error">
                <h1>Error with password reset email</h1>
                <p>Please retry again!</p>
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>  
            </div>          
        </div>

        <!-- 7. Modify UXDPV -->
        <div class="card-modify fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's7' }">    
            <div class="default">
                <h1>Alright {{ msgBox.user }}, let's make some edits!</h1>
                <p>When you are ready, save your chart</p>
                <button type="submit" class="form-control" ng-click="saveChanges()">Save My Chart</button>
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>           
            </div>
        </div>

        <!-- 8. Confirmation -->
        <div class="card-updated fade {{ current_status }}"
            ng-class="{ 'fadein' : current_state == 's8' }">      
            <div class="default">
                <h1>Great, your chart is updated!</h1>
                <p>Keep it up! UX rockstar!</p>
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>  
            </div>
            <div class="error">
                <h1>Uh oh, we were unable to save your chart</h1>
                <p>Please retry again or contact us</p>
                <p><a href ng-click="goToState('s4', 'is_default')">Go back to the chart</a></p>  
            </div>
        </div>
    </div>
</div>