<div class="messageBox row no-pad">
	<div class="col-xs-12 col-md-offset-4 col-md-4 jumbotron text-center {{ current_state }}">
        <!-- 1. Default UXDPV -->
		<div class="card-default fade">
            <h4>Make your selection below and create your own practice vertical chart</h4>
        </div>

       <!-- 2. Save Options with Name and Email Input -->
        <div class="card-save fade"> 
            <h4>Looks good? Do you want to save this chart?</h4>
            <form>
                <div class="form-group">
                    <input type="name" ng-model="name" class="form-control text-center" placeholder="Name"></input>
                    <input type="email" ng-model="newEmail" class="form-control text-center" placeholder="Email address"></input>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control" ng-click="createUserLink()" value="Save UXDPV chart">
                        Save UXDPV chart
                    </button>
                </div>
            </form>
        </div>

        <!-- 3. Confirmation -->
        <div class="card-confirmation fade">
            <div class="success">
                <h4>Awesome! Your chart is live!</h4>
                <div><strong>Check your password in your email.</strong></div>
                <div>You can use the password to modify your chart in the future</div>&nbsp;
                <a href ng-click="goToState('s4')">View and share your UXDPV chart</a>
            </div>
            <div class="error">
                <h4>Uh oh! Something is wrong!</h4>
                <div class="msg"></div>&nbsp;
                <a href ng-click="goToState('s2')">Please retry</a>
        </div>
	</div>

    <!-- Arrow Down -->
    <div class="col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>
</div>