<div class="row no-pad {{ current_state }}">
    <!-- Scroll Arrow -->
    <div class="scroll-arrow col-xs-12 text-center">
        <span class="glyphicon glyphicon-chevron-down"></span> 
    </div>	

	<div class="col-md-6">
		<div class="row no-pad">
			<div class="col-lg-3" ng-repeat="practiceVertical in pv1">
				<table class="table table-hover {{ practiceVertical['ClassName'] }}">
					<thead>
						<tr data-placement="top" title="{{ practiceVertical['Definition'] }}" onmouseenter="$(this).tooltip('show')">
							<th>{{ practiceVertical['Name'] }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="areaOfInterest in practiceVertical['Area of Interest']" 
							class="{{areaOfInterest['ClassName']}}"
							ng-class="{ isSelected: select[practiceVertical['ClassName']][areaOfInterest['ClassName']], isNotSelected: !select[practiceVertical['ClassName']][areaOfInterest['ClassName']]}"
							ng-click="toggleSelected($event, practiceVertical, areaOfInterest)">
							<td>
								<p>{{ areaOfInterest['Name'] }}</p>
								<span class="ripple"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div> <!-- end row -->
	<div class="col-md-6">
		<div class="row no-pad">
			<div class="col-lg-3" ng-repeat="practiceVertical in pv2">
				<table class="table table-hover {{ practiceVertical['ClassName'] }}">
					<thead>
						<tr data-placement="top" title="{{ practiceVertical['Definition'] }}" onmouseenter="$(this).tooltip('show')">
							<th>{{ practiceVertical['Name'] }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="areaOfInterest in practiceVertical['Area of Interest']" 
							class="{{areaOfInterest['ClassName']}}"
							ng-class="{ isSelected: select[practiceVertical['ClassName']][areaOfInterest['ClassName']], isNotSelected: !select[practiceVertical['ClassName']][areaOfInterest['ClassName']]}"
							ng-click="toggleSelected($event, practiceVertical, areaOfInterest)">
							<td>
								<p>{{ areaOfInterest['Name'] }}</p>
								<span class="ripple"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div> <!-- end row -->

	<div class="scroll-arrow col-xs-12 text-center">
        	UX Design Practice Verticals v1.3.0 © 2011-2013 <a class="text-small" href="http://www.methodbrain.com">Nathaniel Davis</a>.<br />
        	All Rights Reserved. Reproduced with permission.
    </div>	
</div>